.bp-list-select {
  overflow: hidden;
}

.bp-list-select * {
  font-weight: 400;
  font-size: 30px;
  margin: 10px;
  opacity: 0.7;
  transition: opacity 0.5s;
  cursor: pointer;
}

.bp-list-select *:hover {
  opacity: 1 !important;
}
